<header class="site-header" role="banner">
  <div class="bookmark">
    <a href="/">
      <p>100 Best Novels</p>
      <p>Modern Library</p>
    </a>
  </div>
  <ul class="accordion-tabs">
    <li class="tab-header-and-content">
      <a href="javascript:void(0)" class="is-active tab-link">Reader’s List</a>
      <div class="tab-content">
        {% for post in site.posts %}
          {% if post.Details['Readers List Rank'] > 0 %}
          <a href="{{ post.url }}">
            <p>{{ post.title }}</p>
            <p>{{ post.Details.Author }}</p>
          </a>
          {% endif %}
        {% endfor %}
      </div>
    </li>
    <li class="tab-header-and-content">
      <a href="javascript:void(0)" class="tab-link">Board’s List</a>
      <div class="tab-content">
       {% for post in site.posts %}
         {% if post.Details['Boards List Rank'] > 0 %}
         <a href="{{ post.url }}">
           <p>{{ post.title }}</p>
           <p>{{ post.Details.Author }}</p>
         </a>
         {% endif %}
       {% endfor %}
      </div>
    </li>
  </ul>
</header>
