.page-content{
  @include media($tablet){
    margin-left: $nav-desktop-width;
    width: calc(100% - $nav-desktop-width);
  }

  .wrapper{
  }
}

.home-header{
  background-color: $white-base;
  display: inline-block;
  @include rem(padding, 20px 40px);
  width: 100%;

  h1{
    float: left;
    margin: 0px;
  }

  .stats{
    float: right;

    li{
      display: inline-block;
      @include rem(margin-left, 30px);
      text-align: center;

      h4{ margin: 0px; }

      p{
        @include s-small;
      }
    }
  }
}

.home{
  background-color: #101C29;
  min-height: 100vh;
}

.post-list{
  display: inline-block;
  @include rem(padding, 40px 40px 20px);
  width: 100%;
}

.book{
  background-color: $white-base;
  box-shadow: 0px 0px 4px 0px rgba(192,192,192,0.50);
  height: 315px;
  @include rem(margin-bottom, 20px);
  @include span-columns(2.4 of 12);
  @include omega(5n);
  text-align: center;

  h5{
    @include rem(margin-top, 20px);
  }
}

.color{
  background-color: #D8D8D8;
  height: 70%;
}

//Post
.post{
  .post-content{
    @include span-columns(7 of 12);
    @include shift(2.5);
  }

  .content{
    @include rem(margin-bottom, 30px);

    p:first-child{
      @include s-big;
    }
  }
}


.post-header{
  display: inline-block;
  @include rem(margin-bottom, 30px);
  width: 100%;

  .post-header-content{
    @include span-columns(7 of 12);
    @include shift(2.5);
  }
}

.post-main-details{
  //border: 1px solid $white-med;
  @include rem(padding, 30px);
  text-align: center;
}

.post-details{
  display: flex;
  @include rem(margin, -1px 0px 30px 0px);

  .details{
    @include vertical-horizontal-center;
    width: 90%;
  }

  li{
    //border: 1px solid $white-med;
    border-spacing: collapse;
    display: inline-block;
    height: 90px;
    text-align: center;
    width: calc(100%/3);
    position: relative;

    p{
      @include s-small;
      @include rem(margin, 0px 5px 0px 0px);
    }

    span{
      color: $white-med;
      @include s-bigger;
    }
  }
}