// Site Navigation Styles
// ========================================
$nav-desktop-width: 250px;


/*-----------------------
Primary Nav
-----------------------*/

.site-header{
  background-color: $blue-base;
  @include position(fixed, 0px null 0px 0px);
  @include transition(all 0.3s ease-in-out);
  width: $nav-desktop-width;
  z-index: 9;
  overflow: scroll;

  li { display: block; }

  p{
    color: $white-base;
  }

  a{
    color: $white-base;
    font-weight: $regular;
    @include s-base;
    @include rem(padding, 12px 20px);
    display: inline-block;
    opacity: 0.5;
    width: 100%;

    &:hover{
      background-color: lighten($blue-base, 6%);
    }

    &.active{
      background-color: lighten($blue-base, 6%);
      opacity: 1;
      font-weight: $bold;
    }
  }
}

//Bookmark
a.bookmark{
  background-color: black;
  text-align: center;
  width: 80%;
  display: block;
  margin: 0 auto 30px;
  @include rem(padding, 20px);
  position: relative;

  p{
    @include transition(all 0.3s ease-in-out);
    margin: 0px;

    &:nth-child(2){
      @include s-tiny;
    }
  }

  &:before{
    content: "";
    @include position(absolute, null 0px -30px null);
    @include triangle(100px 30px, black $blue-base, up-right);
  }

  &:after{
    content: "";
    @include position(absolute, null null -30px 0px);
    @include triangle(100px 30px, black $blue-base, up-left);
  }

  &:hover{
    background-color: black;

    p{
      opacity: 0.5;

    }
  }
}


//Tabs
.accordion-tabs {
  padding: 0;

  .tab-header-and-content {
    display: inline;
    list-style: none;
  }

  .tab-link {
    border-bottom: 2px solid transparent;
    display: inline-block;
    padding-right: 1em;
    width: 49%;

    &:hover{
      background-color: transparent;
    }
  }

  .is-active {
    border-bottom: 2px solid white;
    color: white;
  }

  .tab-content {
    display: none;
    width: 100%;
    float: left;
  }
}

.tab-content{
  a{
    border-top: 1px solid #4A4A4A;
    counter-increment: step-counter;

    &:before{
      content: counter(step-counter);
      display: inline-block;
      @include s-bigger;
      vertical-align: top;
      border-right: 1px solid #4A4A4A;
      @include rem(padding, 10px 10px 10px 0px);
      @include rem(margin-right, 10px);
    }

    .book-name{
      display: inline-block;
      width: calc(100% - 40px);

      p{
        margin: 0px;
      }

      p:nth-child(2){
        @include s-small;
      }
    }
  }
}