<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!--
    <script type="text/javascript">
      $(".post").each(function(index) {
          $(this).hide().delay(200*index).fadeIn(300);
      });
    </script>-->

    <script type="text/javascript">
      $(document).ready(function () {
        $('.accordion-tabs').each(function(index) {
          $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
        });
        $('.accordion-tabs').on('click', 'li > a.tab-link', function(event) {
          if (!$(this).hasClass('is-active')) {
            event.preventDefault();
            var accordionTabs = $(this).closest('.accordion-tabs');
            accordionTabs.find('.is-open').removeClass('is-open').hide();

            $(this).next().toggleClass('is-open').toggle();
            accordionTabs.find('.is-active').removeClass('is-active');
            $(this).addClass('is-active');
          } else {
            event.preventDefault();
          }
        });
      });
    </script>

  </body>
</html>